* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.child-1{
    display: inline-block;
    margin-left: 100px;
}
.child-2{
    display: inline-block;
    margin-left: 100px;
}
.child-3{
    display: inline-block;
    margin-left: 100px;
}
.child-4{
    display: inline-block;
    margin-left: 100px;
}
.child-5{
    display: inline-block;
    margin-left: 100px;
}
.child-6{
    display: inline-block;
    margin-left: 100px;
}

.header {
    background: #fff;
    padding: 20px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #111;
    font-size: 14px;
}
.nav-links a:hover {
    color: #a3e635;
}

.btn-outline {
    padding: 15px 20px;
    border: 2px solid black;
    background: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}
.btn-outline:hover {
    background: #a3e635;
    color: #ffffff;
    border: 2px solid transparent;
}

.hero { 
    padding: 60px 0;
    background: #fff;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.btn-dark {
    background: #111827;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}
.btn-dark:hover {
    background: #a3e635;
    color: #ffffff;
}
.hero-image img {
    width: 100%;
    max-width: 400px;
}

.brands {
    padding: 40px 0;
    background: #fff;
}

.brand-logos {
    display: flex;
    justify-content: space-between;
    color: #777;
    font-weight: bold;
}

.services {
    padding: 60px 0;
}

.services h2 span {
    background: #a3e635;
    padding: 5px 10px;
    border-radius: 6px;
}

.services-desc {
    margin: 20px 0 40px;
    max-width: 800px;
    color: #555;
    margin-right: 90px;
}
span{
    margin-left: 60px;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.card {
  padding: 30px;
  border-radius: 20px;
  transition: 0.3s ease;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  max-width: 60%;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 25px;
  line-height: 1.4;
}

.card span {
  background: #b9ff66;
  padding: 5px 10px;
  border-radius: 6px;
}

.card a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.card img {
  width: 100px;
  height: auto;
}

.light {
  background: #ffffff;
  border: 1px solid #ddd;
}

.green {
  background: #b9ff66;
}

.dark {
  background: #111;
  color: white;
}

.dark a {
  color: white;
}

.dark span {
  background: #b9ff66;
  color: black;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

  .content {
    flex-direction: column;
    text-align: center;
}

  .text {
    max-width: 100%;
    margin-bottom: 20px;
}

.cta-container {
  background: #f1f1f1;
  border-radius: 30px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  position: relative;
}

.cta-text {
  max-width: 500px;
}

.cta-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.cta-text p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
}

.cta-text button {
  background: #111;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.cta-text button:hover {
  background: #b9ff66;
  color: black;
}

.cta-box {
  background: #eeeeee;
  border-radius: 30px;
  padding: 60px;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-content {
  max-width: 500px;
}

.cta-content h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.cta-content p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.cta-content button {
  background: #111;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 35px;
}
.cta-content, img {
  display: inline;
}
.cta-content button:hover {
  background: #b9ff66;
  color: black;
}

.cta-graphics {
  position: relative;
  width: 350px;
  height: 250px;
}

.case-container {
  background: #111;
  color: white;
  border-radius: 30px;
  padding: 50px;
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.case-box {
  flex: 1;
}

.case-box p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 25px;
  color: #ddd;
}

.case-studies{
    margin-top: 20px;
}

.case-box a {
  color: #b9ff66;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.case-box a:hover {
  letter-spacing: 1px;
}

.divider {
  width: 1px;
  height: 120px;
  background: #333;
}

.process-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.process{
    margin-top: 20px;
}

.process-card {
  background: #eeeeee;
  border-radius: 25px;
  padding: 30px 40px;
  border: 2px solid #111;
  box-shadow: 0 6px 0 #111;
}


.process-card.active {
  background: #b9ff66;
}


.process-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.number {
  font-size: 32px;
  font-weight: bold;
}

.process-header h3 {
  font-size: 20px;
}


.icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  border: 2px solid #111;
}


.process-content {
  margin-top: 20px;
  border-top: 2px solid #111;
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.6;
}

.team-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.team-card {
  background: #ffffff;
  border: 2px solid #111;
  border-radius: 20px;
  padding: 25px;
  position: relative;
  transition: all 0.35s ease;
}

.team-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  border-color: #7CFC00;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.image-box {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.linkedin {
  width: 32px;
  height: 32px;
  background: #9eff00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.linkedin:hover {
  background: #111;
  color: white;
}

.team-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.role {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.divider {
  height: 2px;
  background: #111;
  margin-bottom: 15px;
}

.desc {
  font-size: 14px;
  line-height: 1.6;
  color: #333;
}

.Butt{
  padding: 20px;
  margin-left: 1200px;
}

.termbutt{
  background: #111;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.termbutt:hover {
  background: #b9ff66;
  color: black;
}

.testimonials {
  padding: 80px 20px;
}

.testimonial-wrapper {
  max-width: 1200px;
  margin: auto;
  background: #0e0f1a;
  border-radius: 40px;
  padding: 60px 40px;
  color: white;
}

.testimonial-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 40px;
}

.testimonial-card {
  flex: 1;
  max-width: 340px;
  padding: 30px;
  border: 2px solid #9eff00;
  border-radius: 25px;
  position: relative;
  background: transparent;
  transition: 0.3s ease;
}

.testimonial-card::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 40px;
  width: 20px;
  height: 20px;
  background: #0e0f1a;
  border-left: 2px solid #9eff00;
  border-bottom: 2px solid #9eff00;
  transform: rotate(45deg);
}

.testimonial-card.active {
  transform: scale(1.05);
}

.message {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 25px;
  color: #ddd;
}

.client h4 {
  color: #9eff00;
  margin: 0;
  font-size: 16px;
}

.client span {
  font-size: 13px;
  color: #aaa;
}

.testimonial-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.arrow {
  background: transparent;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  color: #9eff00;
}

.dots {
  display: flex;
  gap: 10px;
}

.dots span {
  width: 8px;
  height: 8px;
  background: #555;
  border-radius: 50%;
}

.dots .active-dot {
  background: #9eff00;
}

.contact-container {
  max-width: 1200px;
  margin: auto;
  background: #ececec;
  border-radius: 30px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* FORM SIDE */
.contact-form {
  flex: 1;
}

/* RADIO BUTTONS */
.radio-group {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
}

.radio input {
  display: none;
}

.radio span {
  width: 18px;
  height: 18px;
  border: 2px solid #111;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.radio input:checked + span {
  border-color: #9eff00;
}

.radio input:checked + span::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #9eff00;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 13px;
  margin-bottom: 6px;
  color: #333;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1.5px solid #aaa;
  background: #fff;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #9eff00;
}

textarea {
  height: 120px;
  resize: none;
}

.send-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #111322;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 1s;
}

.send-btn:hover {
  background-color: #9eff00;
  color: black;

}

.contact-image {
  flex: 1;
  min-height: 320px;
  position: relative;
  overflow: hidden;
  margin-left: 360px;
}

.footer {
  padding: 80px 20px;
  background: #f4f6f5;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  background: #0f1220;
  color: white;
  border-radius: 35px;
  padding: 50px 60px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  font-weight: 600;
  font-size: 18px;
}

.footer-nav {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.footer-nav a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

.footer-nav a:hover {
  color: #9eff00;
}

.socials {
  display: flex;
  gap: 12px;
}

.socials span {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #1c2033;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.socials span:hover {
  background: #9eff00;
  color: #000;
}
.footer-middle {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-contact {
  max-width: 350px;
}

.contact-tag {
  display: inline-block;
  background: #9eff00;
  color: #000;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  margin-bottom: 15px;
}

.footer-contact p {
  font-size: 14px;
  color: #ccc;
  margin: 8px 0;
  line-height: 1.6;
}

.newsletter {
  background: #1a1e2f;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  height: fit-content;
}

.newsletter input {
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #444;
  background: transparent;
  color: white;
  outline: none;
  width: 220px;
}

.newsletter input:focus {
  border-color: #9eff00;
}

.newsletter button {
  padding: 12px 18px;
  border-radius: 8px;
  border: none;
  background: #9eff00;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.newsletter button:hover {
  background: #b6ff2f;
}

.footer-divider {
  height: 1px;
  background: #2a2f45;
  margin-bottom: 25px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #aaa;
}

.footer-bottom a {
  color: #aaa;
  text-decoration: none;
  transition: 0.3s;
}

.footer-bottom a:hover {
  color: #9eff00;
}
